<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="utf-8">
	<title>공간정보기술(주)</title>
	
	 <script src="https://cesium.com/downloads/cesiumjs/releases/1.104/Build/Cesium/Cesium.js"></script>
  	<link href="https://cesium.com/downloads/cesiumjs/releases/1.104/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
</head>
<body>
	<div id="cesiumContainer"></div>
	<script type="text/javascript">
	 const viewer = new Cesium.Viewer('cesiumContainer', {
		shouldAnimate: true
	 });    
	 viewer.entities.add({
		 	id: 'p1',		
		    position: Cesium.Cartesian3.fromDegrees(127.67411, 36.47653),
		    /* point: {
		      show: true, // default
		      color: Cesium.Color.SKYBLUE, // default: WHITE
		      pixelSize: 10, // default: 1
		      outlineColor: Cesium.Color.YELLOW, // default: BLACK
		      outlineWidth: 3, // default: 0
		    }, */
		    billboard :{
		    	 image: "/image/camera.png",
		    	 scale: 0.1
		    },
		    label:{
		      text : "파노라마 촬영",
		      font: "15px Helvetica",
		      fillColor: Cesium.Color.WHITE,
		      outlineWidth: 2,
		      //horizontalOrigin :Cesium.HorizontalOrigin.RIGHT
		      pixelOffset: new Cesium.Cartesian2(0, -30)
		    }
	 });
	 
	 viewer.entities.add({
		 	id: 'a1',
		 	description : "<img src=/image/roadview1.png height='400' width='400'>",
		    position: Cesium.Cartesian3.fromDegrees(127.67135, 36.47633),
		    /* point: {
		      show: true, // default
		      color: Cesium.Color.SKYBLUE, // default: WHITE
		      pixelSize: 10, // default: 1
		      outlineColor: Cesium.Color.YELLOW, // default: BLACK
		      outlineWidth: 3, // default: 0
		    }, */
		    billboard :{
		    	 image: "/image/airplane.png",
		    	 scale: 0.1
		    },
		    label:{
		      text : "거리뷰",
		      font: "15px Helvetica",
		      fillColor: Cesium.Color.WHITE,
		      outlineWidth: 2,
		      //horizontalOrigin :Cesium.HorizontalOrigin.RIGHT
		      pixelOffset: new Cesium.Cartesian2(0, -30)
		    }
	 });
	 
	 viewer.entities.add({
		 	id: 'a2',
		 	description : "<img src=/image/roadview2.png height='400' width='400'>",
		    position: Cesium.Cartesian3.fromDegrees(127.67316, 36.47753),
		    /* point: {
		      show: true, // default
		      color: Cesium.Color.SKYBLUE, // default: WHITE
		      pixelSize: 10, // default: 1
		      outlineColor: Cesium.Color.YELLOW, // default: BLACK
		      outlineWidth: 3, // default: 0
		    }, */
		    billboard :{
		    	 image: "/image/airplane.png",
		    	 scale: 0.1
		    },
		    label:{
		      text : "거리뷰",
		      font: "15px Helvetica",
		      fillColor: Cesium.Color.WHITE,
		      outlineWidth: 2,
		      //horizontalOrigin :Cesium.HorizontalOrigin.RIGHT
		      pixelOffset: new Cesium.Cartesian2(0, -30)
		    }
	 });
	 
	 
	    // Fly the camera to San Francisco at the given longitude, latitude, and height.
	 viewer.camera.flyTo({
	      destination : Cesium.Cartesian3.fromDegrees(127.67, 36.48, 2000)
	     
	 });
	 var handler = new Cesium.ScreenSpaceEventHandler(viewer.scene.canvas);   
	 handler.setInputAction(function (movement) {
		  // Star burst on left mouse click.
		 var pickedObject = viewer.scene.pick(movement.position);
		 if(!Cesium.defined(pickedObject)) return;
		 if(pickedObject.id.id === 'p1'){
			 const width = 600;
			 const height = 600;
			 let left = (document.body.offsetWidth / 2) - (width / 2);
			 let tops = (document.body.offsetHeight / 2) - (height / 2);
			 left += window.screenLeft;
			  window.open("https://my.matterport.com/show/?m=MVsuDfMpwbX", "PopupNew", `width=${width}, height=${height}, left=${left}, top=${tops}`);
		  }
		  
		}, Cesium.ScreenSpaceEventType.LEFT_CLICK);
	 
	 
	</script>
</body>
</html>